@font-face {
  font-family: 'Krona One';
  src: url(../fonts/Krona_One/KronaOne-Regular.ttf) format('truetype');
}

html {
  user-select: none;
}

.horizontal-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#title {
  font-family: 'Krona One';
  color: white;
  width: 100%;
  text-align: center;
}

#title-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: blue;
}

#info {
  font-family: 'Krona One';
  width: 100%;
  text-align: center;
}

#info-block {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
}