@font-face {
  font-family: 'Krona One';
  src: url(../fonts/Krona_One/KronaOne-Regular.ttf) format('truetype');
}

/*
Color scheme:
#234574
#2796C2
#9FBAD3
#ECEDD8
#DE985E
*/

html {
  user-select: none;
  background-color: #9FBAD3;
}

.horizontal-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#title {
  font-family: 'Krona One';
  color: white;
  width: 100%;
  text-align: center;
}

#title-block {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  background-color: #234574;
}

#info {
  font-family: 'Krona One';
  color: white;
  width: 100%;
  text-align: center;
}

#info-block {
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  height: auto;
  background-color: #2796C2;
}

